<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bastobe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>338B1EB01CDEE10A0019BCC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>338B1EC41CDEE10A0019BCC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>338B1ECF1CDEE10A0019BCC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
